<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        <![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level [%X{sessionId:-NO_SESSION}] [%X{requestId:-}] [%X{traceId:-}] [%X{spanId:-}] %logger{36} - %msg%n]]>
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/petservice.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/petservice.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [sessionId=%X{sessionId:-NO_SESSION}]
        [reqId=%X{requestId:-}] [traceId=%X{traceId:-}] [spanId=%X{spanId:-}] [parentSpan=%X{parentSpanId:-}]
        [uri=%X{requestURI:-}] [method=%X{requestMethod:-}] [status=%X{responseStatus:-}]
        [duration=%X{requestDuration:-}ms] [clientIp=%X{clientIp:-}] [userAgent=%X{userAgent:-}]
        %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="com.chtrembl.petstore.pet" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
