<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="disclaimer">
		<div class="disclaimer">
			This project is a customized version of the Azure Pet Store.
			It was specially adapted for the <strong> CloudX Java Azure Dev Course</strong>.<br/>
			The original Azure Pet Store is a set of open-source example apps.
			It was created to help you learn how to build software on Azure.
			This is not official Microsoft documentation.
			It shows one possible way to use Azure services for a real-world scenario.
			You can find the reference architecture
			<a href="https://chtrembl.github.io/azure-cloud/" style="font-weight:600; color:#454545;" target="_blank">here</a>.
		</div>
	</div>
</body>
</html>

